
.step1-container {
  
}

.step1-title {
    align-self: stretch;
    color: #0062BC;
    font-family: Noto Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.step1-file-instructions {
    
}

.step1-file-upload {
    
}

.step1-back-button {

}

.step1-continue-button {

}
