.file-upload-container {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
}

.file-label {
    flex-grow: 0.8;
}

.upload-button {
    flex-grow: 0.2;
}

.file-info {
    display: flex;
    align-items: center;
}

.file-details {
    margin-left: 10px;
}

.remove-icon {
    margin-left: 10px;
}






